@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');
.product__img {
    margin-top: 0px;
    background: url('https://mybayutcdn.bayut.com/mybayut/wp-content/uploads/Home-cleaning-companies-in-sharjahAR20072020.jpg') center center/cover no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.319);
    object-fit: contain;
    z-index: 1;
    background-position:top;

}

   


 .product__buttons {
    margin-top: 40px;
    margin-right:600px;
    
}   

#btn{
  width: 100% !important;
  height: 50px !important;
  font-size: large !important;
  font-family:'Pridi', serif !important;
  font-weight: 400 !important;
  margin-block-end: 20px;
  
} 





.imgstyle {
    object-fit: cover;
    object-position: 50% 50%;
    width: 21vw;
    height: 20vw;
    border-radius: 30px ;
    margin-bottom: 18px;

}

.product__list{
    margin-top: 400px;
    text-align: center;
}

.tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.tool__Link {
    text-decoration: none;
    color: black
}

.tool__details{
    margin: 15px;
}

.tool__image {
    width: 310px;
    height: 220px;
    margin: 0px 30px;
    border-radius: 40px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.tool__image:hover {
    opacity: 0.6;
}

.tool__details h1 {
    font-family: "Times New Roman", Times, serif;;
    font-size: 20px;
    text-align: center;   
}

.tool__details p{
    font-family: "Times New Roman", Times, serif;;
    font-size: 15px;
    text-align: center;
}

/* product card css */
.quantity{
    display: flex;
    justify-content: center;
}
.addtocart{
   margin: auto;
   width: 180px;
   height: 45px;
}



.thecart{
    width:40px;
    height: 60px;
    border-radius: 240px;
    text-align: center;
}








/* center container in the middle */

  
  .product {
       

    color: #fff;
	width: 900px;
	height: 400px;
	margin: 30px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
    background:#eff0f1 ; 
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

  }

  .left-product{
    background: rgb(235, 232, 232);
	width: 370px;

  }
  .right-product{
    background: rgb(217, 219, 212);
	width: 530px;

  }


.left-product img {
    height: 270px;
	width: 250px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 20px;
   
    
	
}






.right-product h2 {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 18px;
    margin-right: 10px;
	font-size: 25px;
	
	font-family: 'Poly';
	color: black;
	/* width: 100%;
	 */
    }

    .right-product h4,h5 {
        margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 13px;
    margin-right: 10px;
	font-size: 20px;
	
	font-family: 'Poly';
	color: black;
    
    }
    

    .right-product p {
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 13px;
        margin-right: 30px;
        font-size: 15px;
        
        font-family: 'Poly';
        color: black;
       
    text-align: justify;
        
    
    }
  
  
  
  
  
  #quantity {
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 14px;
    color:#000;
    font-weight: 200;
    width:25px;
    height:  45px; ;
}

.quantity button{
    width: 40px;
    height: 45px;
    border:1px solid #000;
    background: rgb(118, 110, 230);
}

.quantity{
    margin-bottom: 60px;
    margin-left: 10px;
    margin-top: 10px;
    justify-items: auto;

}


  
  