.container {
    display: flex;
}

.product__img {
    width: 98vw;
    height: 490px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgstyle {
    object-fit: cover;
    object-position: 50% 50%;
    width: 21vw;
    height: 20vw;
    border-radius: 30px ;
    margin-bottom: 18px;
}

.product__list{
    margin-top: 50px;
    text-align: center;
}

.tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.tool__Link {
    text-decoration: none;
    color: black
}

.tool__details{
    margin: 15px;
}

.tool__image {
    width: 310px;
    height: 220px;
    margin: 0px 30px;
    border-radius: 40px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.tool__image:hover {
    opacity: 0.6;
}

.tool__details h1 {
    font-family: "Times New Roman", Times, serif;;
    font-size: 20px;
    text-align: center;   
}

.tool__details p{
    font-family: "Times New Roman", Times, serif;;
    font-size: 15px;
    text-align: center;
}

/* product card css */
.quantity{
    display: flex;
    justify-content: center;
}
.addtocart{
   margin: auto;
   width: 180px;
   height: 45px;
}
.quantity button{
    width: 30px;
    height: 30px;
    border:1px solid #000;
    background: #fff;
}

.quantity input {
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 14px;
    color:#000;
    font-weight: 200;
    width:60px
}

.thecart{
    width:40px;
    height: 60px;
    border-radius: 240px;
    text-align: center;
}