
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');
.container-img {
    margin-top: 0px;
    background: url('https://res.cloudinary.com/dve46qnma/image/upload/v1608398058/appimgs/ozhjcjc1mwt0lyfswsnt.png') center center/cover no-repeat;
    height: 86vh;
    width: 98.7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.319);
    object-fit: contain;
    z-index: 1;
    background-position:top;

}

.container-img > p {
    color: #fff;
    font-size: 60px;
    font-family: 'Sail', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    

}

.container-btns {
    margin-top: 270px;
    
}   

#btn{
  width: 100% !important;
  height: 50px !important;
  font-size: large !important;
  font-family:'Pridi', serif !important;
  font-weight: 400 !important
  
}


@media screen and (max-width: 768px) {
  .container-img > p {
    font-size: 40px;
    margin-top: -100px;
    font-weight:800
  }


  #btn {
    display: block;
    text-decoration: none;
  }

  
}


  .section{
    
    padding: 35px;
    background-color:rgb(190, 170, 177) ;
    
    

  }

  .headertekst{
    text-align: center;
    font-family: 'Sail', sans-serif;    
    color:  #141313;
    font-size: 35px;
    padding: 5px;
    
  }

  .list-unstyled2{
    color: white;
    font-size: 1.7rem;
    font-family: 'Pridi', serif;
    text-transform: uppercase;
    font-weight: 100;
    padding: 5px;
  }

  .section li{
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    
  }



  /* .footer{
    padding: 20px;
    background-color: #B2D3EF;

  } */

  .headertext{
    color: white;
    font-size: 3rem;
    font-family: 'Pridi', serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px;
  }


  .footer {
    font-family: 'Pridi', serif;
    font-size: 25px;
    color: rgb(248, 246, 241);
    padding: 4px;
    padding-left:100px ;
    padding-right:110px ;
    padding-top: 14px;
    background-color: #B2D3EF;
  }
  .textstyle{
    color: white;
    font-size: 1.8rem;
    font-family: 'Pridi', serif;
    text-transform: uppercase;
    font-weight: 100;
    padding: 5px;
  }


  