
.container-img {
    margin-top: 0px;
    background: url('https://media-exp1.licdn.com/dms/image/C511BAQHstP3Hr4TJcw/company-background_10000/0/1519798569826?e=2159024400&v=beta&t=1iAw6FntEwaHddGEreFPEZq9Wo00iTXk6JGDAB4G4o8') center center/cover no-repeat;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;

}

.container-img > p {
    color: #fff;
    font-size: 60px;
    font-family: 'Sail', sans-serif;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
     transform: translate(-40%, -60%);

}

.container-btns {
    margin-top: 340px;
}    


  .section{
    margin-top: 0px;
    background-color:palevioletred ;
    float:center;

  }

  .section h3{
    font-family: 'Sail', sans-serif;
    
    color:  #141313;
    
  }

  section li{
    font-family: 'Sail', sans-serif;
    font-size: 50px;
  }

  .footer{
    background-color: rgba(67, 65, 209, 0.9);

  }


  