
.container-img {
    margin-top: 0px;
    background: url('https://media-exp1.licdn.com/dms/image/C511BAQHstP3Hr4TJcw/company-background_10000/0/1519798569826?e=2159024400&v=beta&t=1iAw6FntEwaHddGEreFPEZq9Wo00iTXk6JGDAB4G4o8') center center/cover no-repeat;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    z-index: 1;

}

.container-img > p {
    color: #fff;
    font-size: 60px;
    font-family: 'Sail', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    

}

.container-btns {
    margin-top: 340px;
    
}   

#btn{
  width: 100% !important;
  height: 50px !important;
  font-size: large !important;
  
}


@media screen and (max-width: 768px) {
  .container-img > p {
    font-size: 30px;
    margin-top: -100px;
  }


  #btn {
    display: block;
    text-decoration: none;
  }

  
}


  .section{
    
    padding: 15px;
    background-color:rgb(190, 170, 177) ;
    

  }

  .headertekst{
    text-align: center;
    font-family: 'Sail', sans-serif;    
    color:  #141313;
    font-size: 35px;
    padding: 5px;
    
  }

  

  .section li{
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    
  }



  .footer{
    padding: 20px;
    background-color: rgba(139, 138, 230, 0.9);

  }

  .headertext{
    color: white;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    padding: 5px;
  }


  .footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    color: rgb(248, 246, 241);

  }


  