


nav{
    padding: .4rem 0.6rem 0rem .6rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(67, 65, 209, 0.9);
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    height: 80px;   
}



.logo h4{
    font-family: 'Sail', sans-serif;
    color:  #d81b1b;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 30px; 
        

}

.nav-links{
    display: flex;
    
    justify-content: space-around;
    width: 50%;
    

}

.nav-links li{
   list-style: none;
  
}


.nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;
   
    
    /* padding: 0.5rem 1rem;
    height: 100%; */
  }

  .nav-link:hover {
    transition: all 0.2s ease-out;
    text-decoration: none ;
    color: #610f0f;
  }  

@media screen and (max-width: 1024px) {
    .nav-links {
     width: 60px;
    }
}

@media screen and (max-width: 768px) {
    
    .nav-links {
     position:  absolute  ;
     right: 0px;
     height:90vh ;
     top: 15vh;
     background-color: rgba(67, 65, 209, 0.9);
     flex-direction: column;
     align-items: center;
     width: 50%;
     
     
    }
}

