/*Desktop View*/
.header {
    padding: .4rem 0.6rem 0rem .6rem;
    display: flex;
    justify-content: space-between;
    background-color:#B2D3EF;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0px 40px;
    z-index: 1;
    height: 80px;  
}
  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .logo {
    width: 45px;
    height: 45px;
}
  .nav-options {
    padding-left: 520px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 30px;
    list-style-type: none;
}
  .mobile-option {
    display: none;
}
  
  .option :hover {
    color: white;
}
  
  
  .mobile-menu {
    display: none;
}
  @media (max-width: 1250px) {
    /*Mobile View */
    .header {
      padding: 0px 10px;
    }
    .logo {
      width: 45px;
      height: 45px;
    }
    .nav-options {
      display: flex;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;
    }
    .nav-options.active {
      background: #b2cbe0;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      align-content: center;
      padding-left: 0px;
    }
  
    .menu-icon {
      width: 45px;
      height: 45px;
    }
    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6vw;
      padding: 30px 0px;
    }
    
  }
  .mobile-menu {
    display: block;
  }
  
  .logo h4{
    font-family: 'Sail', sans-serif;
    color: rgb(110, 86, 94);
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 44px; 
    margin-left: 156px;
}
.nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;
    }

  .nav-link:hover {
    transition: all 0.2s ease-out;
    text-decoration: none ;
    color: #610f0f;
  }  