.header {
    padding: .4rem 0.6rem 0rem .6rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245, .90);
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.header__link {
    display: flex;
    justify-content: center;
}

.header__link h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(26, 119, 226);
}

.header__logo {
    width: 65px;
    object-fit: contain;
    border-radius: 200px;
}

/* .header__titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.nav__links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    list-style: none;
}
.logbtn {
    margin: 2px 15px;
}

#logbtn{
    color: white;
    background-color: rgb(26, 119, 226);;
}