
.main_card {
	color: #fff;
	width: 760px;
	height: 290px;
	margin: 50px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 770px;
	background:#F1D4BE ; 
	
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
	width: 60%;
}

.card_datails {
	width: 90%;
	padding: 30px;
    margin-top: -25px;
    color: black;
}
.card_datails  h1 {
	font-size: 30px;
}
.card_right img {
    height: 290px;
    width: 100%;
    
	border-radius: 2px;
}
.card_right {
    width: 40%;
	border-radius: 2px;
}


.disc {
	font-weight: 100;
	line-height: 27px;
}


.ser_card {
	color: #fff;
	width: 330px;
	height: 220px;
	margin: 10px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: center;
	/* max-width: 470px; */
	background: #F1D4BE;	
	float: left; 
	
	
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}





.ser_datails {
	width: 90%;
	padding: 30px;
    margin-top: -25px;
    color:black
}
.ser_datails  h1 {
	font-size: 30px;
}


.disc {
	font-weight: 100;
	line-height: 27px;
}



.menu-links li{
	list-style: none;
	

}

.menu-link{
	display:inline;
}




.fev_card {
	color: #fff;
	width: 330px;
	height: 220px;
	margin: 50px auto;
	/* display: -webkit-box;
	display: -ms-flexbox;
	display: flex; */
	max-width: 470px;
	background: #F1D4BE;	
	float: left; 
	
	
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}